<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link th:href="@{/css/Main.css}" rel="stylesheet">
    <style>
        table td,
        table th {
            font-size: 80%;
        }

        .dropdown-scroll {
            max-height: 150px;
            overflow-y: auto;
        }

        .table-container {
            overflow-x: auto; /* Cho phép cuộn ngang */
            max-width: 100%; /* Giới hạn chiều rộng tối đa */
            margin-bottom: 20px; /* Khoảng cách giữa bảng và phân trang */
        }

        .table th,
        .table td {
            white-space: nowrap; /* Ngăn chặn xuống dòng trong các ô */
        }

        .pagination {
            margin-top: 20px; /* Khoảng cách giữa bảng và phân trang */
        }
    </style>
</head>

<body>
    <div class="container-fluid " th:fragment="content">
        <div>
            <div>
                <h2 class="mb-3">Độ cứng đũa</h2>
                <form th:action="@{/do-cung/them-do-cung}" th:object="${doCung2}" method="post">
                    <div class="mb-3">
                        <label for="tenDoCung" class="form-label">Độ cứng</label>
                        <input type="text" class="form-control" id="tenDoCung" th:field="*{tenDoCung}"
                            placeholder="Vui lòng nhập  độ cứng muốn thêm">
                        <ul>
                            <li th:each="err : ${#fields.errors('tenDoCung')}" th:text="${err}" class="error"></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm độ cứng</button>
                </form>
            </div>

            <div>
                <table class="table table-hover mt-3" border="1">
                    <tr>
                        <th>#</th>
                        <th>Mã độ cứng</th>
                        <th>Độ cứng</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                    <tr th:each="doCung,status  :${doCungPage}">
                        <td th:text="${doCung.id}" hidden="true"></td>
                        <td th:text="${status.index + 1}"></td>
                        <td th:text="${doCung.maDoCung}"></td>
                        <td th:text="${doCung.tenDoCung}"></td>
                        <td th:text="${#dates.format(doCung.ngayTao,'yyyy-MM-dd') }"></td>
                        <td th:text="${doCung.trangThai ==1?'Hoạt động':'Ngưng bán'}"></td>

                        <td>
                            <a type="submit" class="btn btn-info"
                                th:href="@{/do-cung/xoa-do-cung/{id}(id=${doCung.id})}">Xoá</a>
                        </td>
                    </tr>
                </table>
                <div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">

                            <li class="page-item" th:classappend="${currentPage==0} ? 'disabled'">
                                <a class="page-link" th:href="@{/do-cung/hien-thi(page=${currentPage-1})}">Prev</a>
                            </li>


                            <li th:each="i : ${#numbers.sequence(0, totalPage-1)}" class="page-item"
                                th:classappend="${i==currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/do-cung/hien-thi(page=${i})}" th:text="${i+1}"></a>
                            </li>


                            <li class="page-item" th:classappend="${currentPage == totalPage-1} ? 'disabled'">
                                <a class="page-link" th:href="@{/do-cung/hien-thi(page=${currentPage+1})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</body>

</html>